@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #407ac6;;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

html {
  background-color: #407ac6;
  min-height: 100vh
}
